<% content_for :stylesheets do %>
    <%= stylesheet_link_tag 'common/bootstrap/bootstrap' %>
    <%= stylesheet_link_tag 'common/navbar' %>
    <%= stylesheet_link_tag 'index/index' %>
<% end %>

<% content_for :javascripts do %>
    <%= javascript_include_tag 'common/ie-emulation-modes-warning' %>
    <%= javascript_include_tag 'common/ie10-viewport-bug-workaround' %>
    <%= javascript_include_tag 'common/jquery/jquery' %>
    <%= javascript_include_tag 'common/bootstrap/bootstrap' %>
    <%= javascript_include_tag 'index/index' %>
<% end %>

<div class="container">
    <div class="row col-md-12">
        <div class="col-md-2 col-md-offset-2" style="padding:0"><h4> 教师名称 </h4></div>
        <div class="col-md-6">
            <input type="text" class="form-control col-md-12" id="input_teacher_name" placeholder="">
        </div>
    </div>
    <div class="row col-md-12">
        <div class="col-md-2 col-md-offset-2" style="padding:0"><h4> 密码 </h4></div>
        <div class="col-md-6">
            <input type="password" class="form-control col-md-12" id="input_teacher_password" placeholder="">
        </div>
    </div>
    <div class="row col-md-12 text-center">
        <button id="submit_teacher_signin" type="button" class="btn btn-primary" style="margin:20px">  登录  </button>
    </div>
    <style>
        div.container div.row.col-md-12:first-child {
            margin-top: 100px;
        }
    </style>
</div>