<% content_for :stylesheets do %>
    <%= stylesheet_link_tag 'common/bootstrap/bootstrap' %>
    <%= stylesheet_link_tag 'common/navbar' %>
<% end %>

<% content_for :javascripts do %>
    <%= javascript_include_tag 'common/ie-emulation-modes-warning' %>
    <%= javascript_include_tag 'common/ie10-viewport-bug-workaround' %>
    <%= javascript_include_tag 'common/jquery/jquery' %>
    <%= javascript_include_tag 'common/bootstrap/bootstrap' %>
    <%= javascript_include_tag 'client_index/client_index_change_password' %>
<% end %>

<div class="container">
      <div class="row col-xs-12">
          <label for="clientId" class="col-xs-4 control-label">学号: </label>
          <div class="col-xs-8">
            <input type="text" class="form-control" id="clientId" >
          </div>
      </div>
      <div class="row col-xs-12">
          <label for="oldPassword" class="col-xs-4 control-label">旧密码: </label>
          <div class="col-xs-8">
            <input type="password" class="form-control" id="oldPassword" >
          </div>
      </div>
      <div class="row col-xs-12">
          <label for="newPassword" class="col-xs-4 control-label">新密码: </label>
          <div class="col-xs-8">
            <input type="password" class="form-control" id="newPassword" >
          </div>
      </div>
      <div class="row col-xs-12">
          <label for="newPasswordConfirm" class="col-xs-4 control-label">新密码确认: </label>
          <div class="col-xs-8">
            <input type="password" class="form-control" id="newPasswordConfirm" >
          </div>
      </div>
    <div class="row col-xs-12 text-center">
        <button id="confirm_client_change_password" type="button" class="btn btn-primary" style="margin:20px">   确认修改   </button>
        <button id="back" type="button" class="btn btn-default" style="margin:0px">  返回  </button>
    </div>
    <style>
        div.container div.row.col-xs-12 {
            margin-top: 10px;
        }
        div.container div.row.col-xs-12:first-child {
            margin-top: 100px;
        }
    </style>
</div>