<% content_for :stylesheets do %>
    <%= stylesheet_link_tag 'common/bootstrap/bootstrap' %>
    <%= stylesheet_link_tag 'common/navbar' %>
    <%= stylesheet_link_tag 'client_index/client_homepage_navbar' %>
    <%= stylesheet_link_tag 'client_index/client_homepage_homework' %>
    <%= stylesheet_link_tag 'client_index/client_homepage_documents' %>
<% end %>

<% content_for :javascripts do %>
    <%= javascript_include_tag 'common/ie-emulation-modes-warning' %>
    <%= javascript_include_tag 'common/ie10-viewport-bug-workaround' %>
    <%= javascript_include_tag 'common/jquery/jquery' %>
    <%= javascript_include_tag 'common/bootstrap/bootstrap' %>
    <%= javascript_include_tag 'client_index/client_index_homepage' %>
<% end %>

<div class="container">
    <div class="navbar-more-overlay"></div>
    <nav class="navbar navbar-inverse navbar-fixed-top animate">
        <div class="container navbar-more visible-xs"></div>
        <div class="container">
            <div class="navbar-header hidden-xs">
                <a class="navbar-brand" href="#"><h4>课程管理系统</h4></a>
            </div>

            <ul class="nav navbar-nav navbar-right mobile-bar">
                <li id="navbar_tab_homework">
                    <a href="#">
                        <span class="menu-icon fa "></span>
                        <h4>作业</h4>
                    </a>
                </li>
                <li id="navbar_tab_document">
                    <a href="#">
                        <span class="menu-icon fa "></span>
                        <span><h4>资料</h4></span>
                    </a>
                </li>
                <li id="navbar_tab_test">
                    <a href="#">
                        <span class="menu-icon fa "></span>
                        <h4>测试</h4>
                    </a>
                </li>
                <li id="navbar_tab_group">
                    <a href="#">
                        <span class="menu-icon fa "></span>
                        <span><h4>小组</h4></span>
                    </a>
                </li>
                <li id="navbar_tab_everyday_grade">
                    <a href="#navbar-more-show">
                        <span class="menu-icon fa "></span>
                        <h4>平时成绩</h4>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="main" style="margin-top:60px">
        <!-- The main content part -->
        <div id="main_homeworks">
            <div id="fragment_homework_list" class="col-xs-12">
                <div id="no_homework_reminds" class="row col-xs-12 text-left">
                    <h4>此课程没有任何作业</h4>
                </div>
                <% @finished_homeworks.each do |hw| %>
                    <div class="homework_sector row col-xs-12 text-center">
                        <div class="row col-xs-12">
                            <div class="col-xs-8 text-left"><h8>发布时间：<%= hw.created_at %></h8></div>
                            <div class="col-xs-4" style="color:green"><h8>已经提交</h8></div>
                        </div>
                        <div class="row col-xs-12 text-left">
                            <h3><%= hw.name %></h3>
                        </div>
                        <div class="row col-xs-12">
                            <div class="col-xs-8 text-left"><h8 style="color:red" class="homework_deadline">截止日期：<%= hw.deadline %></h8></div>
                            <div class="col-xs-4"><button type="button" class="btn btn-primary" style="margin:7px">查看作业</button></div>
                        </div>
                    </div>
                <% end %>
            </div>
            <div id="fragment_homework_details" class="col-xs-12">
                <% if @unfinished_homeworks != nil and @unfinished_homeworks.first != nil %>
                    <div id="homework_description" class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-6 text-left">
                                <h4><%= @unfinished_homeworks.first.name %></h4>
                            </div>
                            <div class="col-xs-6 text-center">
                                <h5 style="color:red">截止时间：<%= @unfinished_homeworks.first.deadline %></h5>
                            </div>
                        </div>
                        <div class="row col-xs-12" style="margin: 5px 0;border: 1px solid black">
                            <div class="row col-xs-12 text-left">
                                <h4>普通附件</h4>
                            </div>
                            <div class="row col-xs-12">
                                <div class="col-xs-4 text-center">
                                    <%= image_tag "common/pdf_icon.png", alt: "common/pdf_icon.png", class: "thumbnail_image" %>
                                </div>
                                <div class="col-xs-8 text-left">
                                    <h4>附件名字</h4>
                                    <a><h5 style="color:red">下载</h5></a>
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>
                <div id="homework_past_list" class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-6 text-left">
                            <h4>已经完成作业</h4>
                        </div>
                    </div>
                    <div id="no_past_reminds" class="text-left">
                        <h4>您还没有提交作业</h4>
                    </div>
                    <div id="past_list">
                        <ul class="list-group">
                                <% @finished_homeworks.each do |hw| %>
                                    <li class="list-group-item">
                                        <%= image_tag "common/pdf_icon.png", alt: "common/pdf_icon.png", class: "thumbnail_image" %>
                                        <div>
                                            <h6><%= hw.name %></h6>
                                        </div>
                                      </li>
                                <% end %>
                              <!-- <li class="list-group-item">
                                <%= image_tag "common/pdf_icon.png", alt: "common/pdf_icon.png", class: "thumbnail_image" %>
                                <div>
                                    <h6>文件名字一</h6>
                                </div>
                              </li>
                              <li class="list-group-item">
                                <%= image_tag "common/word_icon.png", alt: "common/word_icon.png", class: "thumbnail_image" %>
                                <div>
                                    <h6>文件名字二</h6>
                                </div>
                              </li>
                              <li class="list-group-item">
                                <%= image_tag "common/zip_icon.png", alt: "common/zip_icon.png", class: "thumbnail_image" %>
                                <div>
                                    <h6>文件名字三</h6>
                                </div>
                              </li>
                              <li class="list-group-item">
                                <%= image_tag "common/excel_icon.png", alt: "common/excel_icon.png", class: "thumbnail_image" %>
                                <div>
                                    <h6>文件名字四</h6>
                                </div>
                              </li>
                              <li class="list-group-item">
                                <%= image_tag "common/powerpoint_icon.png", alt: "common/powerpoint_icon.png", class: "thumbnail_image" %>
                                <div>
                                    <h6>文件名字五</h6>
                                </div>
                              </li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="main_documents">
            <div id="fragment_document_list" class="col-xs-12">
                <ul class="list-group">
                        <% @documents.each do |doc| %>
                            <li class="list-group-item document_item">
                                <% if doc.address.index('.pdf') != nil %>
                                    <%= image_tag "common/pdf_icon.png", alt: "common/pdf_icon.png" %>
                                <% elsif doc.address.index('.word') != nil %>
                                    <%= image_tag "common/word_icon.png", alt: "common/word_icon.png" %>
                                <% elsif doc.address.index('.powerpoint') != nil %>
                                    <%= image_tag "common/powerpoint_icon.png", alt: "common/powerpoint_icon.png" %>
                                <% elsif doc.address.index('.excel') != nil %>
                                    <%= image_tag "common/excel_icon.png", alt: "common/excel_icon.png" %>
                                <% else doc.address.index('.zip') != nil %>
                                    <%= image_tag "common/zip_icon.png", alt: "common/zip_icon.png" %>
                                <% end %>
                                <div>
                                    <h6><%= doc.name %></h6>
                                    <p style="display:none"><%= doc.description %></p>
                                    <h4 style="display:none"><%= doc.id %></h4>
                                    <h1 style="display:none"><%= doc.address %></h1>
                                </div>
                              </li>
                        <% end %>
                </ul>
            </div>
            <div id="fragment_document_details" class="col-xs-12">
                <div class="text-center">
                    <%= image_tag "common/powerpoint_icon.png", alt: "common/powerpoint_icon.png" %>
                    <h4>文件名字一</h4>
                    <p></p>
                    <h5 class="document_item_id" style="display:none"></h5>
                    <h1 class="document_address" style="display:none"></h1>
                    <a href="#"><button id="btnDownloadDocument" type="button" class="btn btn-primary" style="margin:10px">下载资料</button></a>
                </div>
            </div>
        </div>
        <div id="main_tests"></div>
        <div id="main_grades"></div>
        <div id="main_groups">
            <div id="fragment_group_info">
                <div class="row input-group text-center">
                    <input type="text" class="form-control" placeholder="搜索" aria-describedby="basic-addon2">
                </div>
                <div class="row">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>姓名</th>
                                <th>学号</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @class_mates.each do |cm| %>
                                <tr>
                                    <td><%= cm.name %></td>
                                    <td><%= cm.id %></td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>