
<% content_for :stylesheets do %>
    <%= stylesheet_link_tag 'common/bootstrap/bootstrap' %>
    <%= stylesheet_link_tag 'common/navbar' %>
<% end %>

<% content_for :javascripts do %>
    <%= javascript_include_tag 'common/ie-emulation-modes-warning' %>
    <%= javascript_include_tag 'common/ie10-viewport-bug-workaround' %>
    <%= javascript_include_tag 'common/jquery/jquery' %>
    <%= javascript_include_tag 'common/bootstrap/bootstrap' %>
    <%= javascript_include_tag 'client_index/client_index_course_browser' %>
<% end %>

<div class="container">
    <div class="row col-xs-12 text-left" style="margin:7px"><h4> 课程列表 <h4></div>
    <div id="course_list">

        <% @courses.each do |coz| %>
            <div class="course_item col-xs-12">
                <span class="course_id" style="display:none"><%= coz.course.id %></span>
                <div class="row text-left col-xs-12" style="margin:7px"><h3><%= coz.course.name %></h3></div>
                <div class="row text-left col-xs-12" style="margin:7px"><h4>任课老师－<%= coz.course.teacher.name %></h4></div>
            </div>
        <% end %>

    </div>
</div>

<style>
div.course_item{
    margin-top:10px;
    border: 1px solid black;
}
</style>